<ion-view view-title="Article"  class="background">		
<ion-content>
    
			
	
			
		
		  <div class="item item-text-wrap">
		    
                 <ion-list>

          <div class="list card">
  <div class="item item-avatar">
    <!--<img src="\images\alemania.jpg">-->
    <h2>Germany wins World Cup with last-minute goal</h2>
    <p> Jul 14, 2014 05</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="\images\alemania.jpg">
    
  </div>
  Gotze scored the winning goal in extra time to give Germany a 1-0 victory over Argentina on Sunday in a tight and tense World Cup final that came down to one piece of individual skill.

Gotze, who wasn't born when West Germany beat Argentina in the 1990 final, controlled a cross with his chest in the 113th minute and in one fluid motion volleyed the ball past goalkeeper Sergio Romero and inside the far post.

It was a goal that gave Germany its fourth World Cup title in its eighth final, and left Argentina star Lionel Messi still walking in the shadow of his compatriot Diego Maradona, who led his country to the 1986 title.

"In the end," writes CBSSports.com's Evan Hilbert, "Messi couldn't do it all for Argentina, and Germany had just enough."

</div>
<div class="list card">
  <div class="item item-avatar">
  
    <h2>Euro 2016 qualifiers</h2>
    <p> </p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="\images\euro.jpg">
    
  </div>
  The 2016 UEFA European Championship, commonly referred to as UEFA Euro 2016 or simply Euro 2016, will be the 15th edition of the UEFA European Championship, the quadrennial international men's football championship of Europe organized by UEFA. It is scheduled to be held in France from 10 June to 10 July 2016.Spain are two-time defending champions.

</div>

                     

				 </ion-list>
				      <!--<ion-item ng-click="linker(liga.id, profile.selectedTabIndex)" ng-repeat="liga in profile.ligas">{{liga.title}}</ion-item>-->
		  </div>					
	
		
  </ion-content>
	

</ion-view>