<ion-view view-title="Login" >		
  <ion-content >
    <div class="text-center instructions">
			<img src="images/logoIngles.png" alt="logo" width="385" height="175" />
    </div>   
    	<div class="list">
		  <label class="item item-input">
		    <span class="input-label">Usuario</span>
		    <input type="text" name="usuario" ng-model="lc.credentials.username">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Contraseña</span>
		    <input type="password" ng-model="lc.credentials.password">
		  </label>
		</div>
		
		<div class="col">
		<a ng-click="lc.login()" class="button button-positive button-block">Login</a> </div>
		
  </ion-content>
</ion-view>
