<ion-view view-title="Login" >		
  <ion-content >
    <div class="text-center" style="margin-top: 100px;">
			<img src="img/logoColegioIngles.png" alt="logo" width="80%" />
    </div>   
    <div class="list">
		  <label class="item item-input">
		    <span class="input-label">Usuario</span>
		    <input type="text" name="usuario" ng-model="lc.credentials.username">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Contraseña</span>
		    <input type="password" ng-model="lc.credentials.password">
		  </label>
		</div>
		<!--
		<div class="col">
			<a ui-sref="anon.forgot" class="button button-light button-clear button-block">Forgot your password? {{currentUser}}</a> 
		</div>
		-->
		<div class="col">
			<a ng-click="lc.login()" class="button button-positive button-block">Iniciar Sesión</a> 
		</div>
		
  </ion-content>
</ion-view>
