<!--
<ion-view view-title="Login" >		
  <ion-content >
    <div class="text-center" style="margin-top: 100px;">
			<img src="img/logoColegioIngles.png" alt="logo" width="80%" />
    </div>   
    	<div class="list">
		  <label class="item item-input">
		    <span class="input-label">Usuario</span>
		    <input type="text" name="usuario" ng-model="lc.credentials.username">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Contraseña</span>
		    <input type="password" ng-model="lc.credentials.password">
		  </label>
		</div>
		
		<div class="col">
			<a ng-click="lc.login()" class="button button-positive button-block">Iniciar Sesión</a> 
		</div>
		
  </ion-content>
</ion-view>
-->
<ion-view class="login-view auth-view" cache-view="false">
  <ion-content scroll="false" style="transform: translate3d(0px, 96px, 0px) scale(1);">
    <div class="text-center" style="margin-top:100px"> 
	    <img src="img/Ready2GetLogo.png" alt="logo" width="20%"> 
    </div>
    <div class="row">
      <div class="col col-center">
        <div class="card login-container" content-tabs tabsdata='tabsdata'>
          <form name="login_form" class="" novalidate ng-cloak>
            <my-tabs>
              <my-tab title="Email">
                <div class="list">
                  <label class="item item-input">
                    <input type="text" placeholder="Usuario" name="username" ng-model="lc.credentials.username" required>
                  </label>
                  <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="Password" name="user_password" ng-model="lc.credentials.password" required show-hide-input>
                  </label>
                </div>
              </my-tab>
            </my-tabs>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="lc.login()">
                Log In
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="forgot-password button button-small button-clear button-light" ui-sref="auth.forgot-password">
            Forgot Password?
          </a>
          <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
            Sign Up
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

