<ion-view view-title="My Pickss">

<ion-content>
<div class="card">
          <div class="item item-divider">

              <div class="list">

    <a class="item item-avatar" href="#">
      <div class="img-thumbnail flag flag-icon-background flag-icon-mx"></div>
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
       

    

          </div>
           
          </div>
           </div>
           <div class="img-thumbnail flag flag-icon-background flag-icon-mx" title="mx" id="mx"></div>
</ion-content>
</ion-view>