<ion-view view-title="News">		
	<ion-content>
		<div class="list">
			<ion-list>
				<ion-item class="item" style="background-image: url({{articulo.enclosure}}); background-size: cover; background-repeat: no-repeat, repeat; height: 300px;" ng-repeat="articulo in news.articulos">					
					<h1 style="color: white;">{{articulo.title}}</h1><br/>
					<p style="color: white;">{{articulo.description}}</p><br/>
					<span class="item-note">
						{{articulo.pubDate | date:shortDate}}
					</span>
	      </ion-item>
			</ion-list>
		</div>  						
  </ion-content>
</ion-view>