<ion-view view-title="Sign Up">
	
  <ion-content class="singup">
    <div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label"></span>
		    <input type="email" ng-model="sg.signup.email" placeholder="Email" >
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label"></span>
		    <input type="password" ng-model="sg.signup.password" placeholder="Password" >
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label"></span>
		    <input type="text" ng-model="sg.signup.name" placeholder="Name" >
		  </label>
		  
		  
		  <a class="button button-positive button-block" ng-click="sg.sign(sg.signup)">Sign Up </a>
		  
		</div>
  </ion-content>
</ion-view> 


