<ion-side-menus enable-menu-with-back-views="false">
    

    <ion-side-menu-content class="post-size-14px">
        <ion-nav-bar class="bar app-top-bar">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu-panel"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" id="side-menu-panel">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header ">
            <ion-list id="menu-null">
                <ion-item class="item-icon-left" id="menu-list-item1" ui-sref="tabs.solicitar" menu-close="">
                    <i class="icon ion-ios-flag"></i>Solicitar</ion-item>
                <ion-item class="item-icon-left" id="menu-list-item2" ui-sref="tabs.account" menu-close="">
                    <i class="icon ion-ios-person"></i>Perfil</ion-item>
                <ion-item class="item-icon-left" id="menu-list-item3" ui-sref="tabs.historial" menu-close="">
                    <i class="icon ion-ios-list"></i>Historial</ion-item>
                <ion-item class="item-icon-left" id="menu-list-item4" ng-click="tabmenu.logout()">
                    <i class="icon ion-android-exit"></i>salir</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
