<ion-tabs class="tabs-stable tabs-icon-top tabs-color-positive" ng-cloak>
 
  <ion-tab title="Mi Perfil" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/tab/profile">
    <ion-nav-view name="tab-profile">
    	<ion-nav-bar class="navColor">
			  <ion-nav-back-button>
			  </ion-nav-back-button>
			</ion-nav-bar>
		</ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Mis Hijos" icon-on="icon ion-ios-body" icon-off="icon ion-ios-body-outline" href="#/tab/home">
    <ion-nav-view name="tab-home">
    	<ion-nav-bar class="navColor">
			  <ion-nav-back-button>
			  </ion-nav-back-button>
			</ion-nav-bar>
    </ion-nav-view>
  </ion-tab>
   
</ion-tabs>