<ion-view view-title="Upgrades">	
	
  <ion-content>
  <div class="bar bar-header bar-light">
  <h1 class="title"></h1>
</div>
<div class="bar bar-subheader">
  <h2 class="title">MEX VS GER</h2>
</div>


  <div class="col">
<button class="button button-positive button-clear button-right" style="height: 20px; width: 70px;">Details</button>  
  	<div class="list list-inset">
  		<div class="item item-divider">
        Date match
      </div>
   <label class="item item-input">
    <span class="input-label"><span class="flag-icon flag-icon-mx"  style="height: 50px; width: 50px;"></span></span>
     <input type="number" placeholder="Number of goals">
  </label>
  <label class="item item-input" >
  	<span class="input-label"><span class="flag-icon flag-icon-de" style="height: 50px; width: 50px;"></span></span>
    <input type="number"   placeholder="Number of goals">
  </label>
  
</div> 
</div>

	
	
		
  </ion-content>
</ion-view>