<ion-view class="login-view auth-view" cache-view="false" >
  <ion-content scroll="false" >
    <div class="row">
      <div class="col col-center">
        <div class="card login-container" content-tabs tabsdata='tabsdata'>
          <form name="login_form" class="" novalidate ng-cloak>
            <my-tabs>
              <my-tab title="Email">
                <div class="list">
                  <label class="item item-input">
                    <input type="email" placeholder="{{ 'EMAIL' | translate }}" name="user_email" ng-model="lc.credentials.email" required>
                  </label>
                  <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="{{ 'PASSWORD' | translate }}" name="user_password" ng-model="lc.credentials.password" required show-hide-input>
                  </label>
                </div>
              </my-tab>
              
            </my-tabs>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="lc.login()" >
                {{ 'INICIARSESION' | translate }}
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="forgot-password button button-small button-clear button-light" ui-sref="auth.forgot-password">
            {{ 'OLVIDASTECONTRASENA' | translate }}
          </a>
          <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
            {{ 'REGISTRO' | translate }}
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<!-- {{ 'EMAIL' | translate }} -->
<!-- {{ 'PASSWORD' | translate }} -->
