<ion-view class="signup-view auth-view" cache-view="false">
  <ion-content scroll="false" style='background-color:#415158'>
    <div class="row">
      <div class="col col-center">
        <div class="card sign-up-container">
          <form name="signup_form" class="" novalidate>
            <div class="item item-body">
	            <label class="item item-input">
                <input type="text" placeholder="{{ 'NOMBRE' | translate }}" name="user_nombre" ng-model="sc.signup.name" required>
              </label>
              <label class="item item-input">
                <input type="email" placeholder="{{ 'EMAIL' | translate }}" name="user_email" ng-model="sc.signup.email" required>
              </label>
              <label class="item item-input" show-hide-container>
                <input type="password" placeholder="{{ 'PASSWORD' | translate }}" name="user_password" ng-model="sc.signup.password" required show-hide-input>
              </label>
            </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-assertive button-block" ng-click="sc.sign()" >
                {{ 'REGISTRAR' | translate }}
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
            {{ 'INICIARSESION' | translate }}
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<!-- {{ 'NOMBRE' | translate }} -->
<!-- {{ 'EMAIL' | translate }} -->
<!-- {{ 'PASSWORD' | translate }} -->