<h2>Campus</h2>  	
<form name="form" class="form-horizontal" role="form" novalidate>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{cam.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevocampu" ng-click="cam.nuevoCampus()">
		  {{cam.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-4" valida>
				    	<label>Nombre *</label>
					    <input name="nombre" type="text" class="form-control" ng-model="cam.campu.nombre" required>
			    	</div>
			    </div>	
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" value="Guardar" ng-click="cam.guardar(cam.campu,form)" class="btn btn-primary" ng-show="cam.action" valida-form formulario="form">
						<input type="submit" ng-click="cam.actualizar(cam.campu,form)" value="Actualizar" class="btn btn-primary" ng-show="!cam.action" valida-form formulario="form">				
					</div>
				</div>	  
		</div>
	</div>
</div>
</form>
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="20%"><div class="text-center">Nombre</div></th>
					<th width="10%"><div class="text-center">Evento</div></th>						
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="campu in cam.campus | filter:query">
			    <td>{{campu.nombre}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="campu.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!campu.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left dropdown-menu-right">
							    <li><a href="#" ng-click="cam.editar(campu._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="cam.cambiarEstatus(campu._id)">
							    				<i class="fa fa-{{campu.estatus ? 'trash' : 'check' }}"></i> {{campu.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


