.icon-rounded{
	font-size: 15px;
	padding: 5px 9px;
	color:white;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
}

.assertive-back{
	background-color:#ef473a;
}
.energized-back{
	background-color:#ffc900;
}
.balanced-back{
	background-color:#33cd5f;
}