<!-- Menú de Administrador -->
<section id="administrador" data-widget-grid="data-widget-grid" ng-if="currentUser.roles[0] == 'admin'">
	<h1>Super Administrador</h1>
  <div class="row">
    <div class="col-sm-12">
      <div data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-jarvis-widget="data-jarvis-widget">
        <header>
          <h2>Opciones</h2>
        </header>
        <div>
          <div class="widget-body">
						<div class="row">
							<div class="col-sm-3">
								<a ui-sref="root.alumnos" href="javascript:void(0);" class="btn btn-labeled btn-warning btn-block" style="text-align: left"> <span class="btn-label"><i class="fa fa-lg fa-fw fa-users"></i></span>Alumnos</a>
							</div>
							<div class="col-sm-3">
								<a ui-sref="root.maestros" href="javascript:void(0);" class="btn btn-labeled btn-warning btn-block" style="text-align: left"> <span class="btn-label"><i class="fa fa-lg fa-fw fa-users"></i></span>Maestros</a>
							</div>
							<div class="col-sm-3">
								<a ui-sref="root.padres" href="javascript:void(0);" class="btn btn-labeled btn-warning btn-block" style="text-align: left"> <span class="btn-label"><i class="fa fa-lg fa-fw fa-users"></i></span>Padres</a>
							</div>	
							<div class="col-sm-3">
								<a ui-sref="root.grupos" href="javascript:void(0);" class="btn btn-labeled btn-warning btn-block" style="text-align: left"> <span class="btn-label"><i class="fa fa-lg fa-fw fa-users"></i></span>Grupos</a>
							</div>	
						</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Menú de Maestros -->
<section id="Coordinador" data-widget-grid="data-widget-grid" ng-if="currentUser.roles[0] == 'Maestro'">
  <div class="row">
    <div class="col-sm-12">
      <div data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-jarvis-widget="data-jarvis-widget">
        <header>
          <h2>Opciones del sistema</h2>
        </header>
        <div>
          <div class="widget-body">
						<div class="row">
							<div class="col-sm-3">
								<a ui-sref="root.gruposMaestro" href="javascript:void(0);" class="btn btn-labeled btn-warning btn-block" style="text-align: left"> <span class="btn-label"><i class="fa fa-lg fa-fw fa-folder-open"></i></span>Grupos</a>
							</div>
	          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Menú de Padres -->
<section id="Logistica" data-widget-grid="data-widget-grid" ng-if="currentUser.roles[0] == 'Padre'">
  <div class="row">
    <div class="col-sm-12">
      <div data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-jarvis-widget="data-jarvis-widget">
        <header>
          <h2>Opciones del sistema</h2>
        </header>
        <div>
          <div class="widget-body">
						<div class="row">
							<div class="col-sm-3">
								<a ui-sref="root.recogerAlumno" href="javascript:void(0);" class="btn btn-labeled btn-warning btn-block" style="text-align: left"> <span class="btn-label"><i class="fa fa-lg fa-fw fa-users"></i></span>Recoger Hijo</a>
							</div>							
						</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



