<h2>Padres e Hijos</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{pad.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevopadre" ng-click="pad.nuevoPadre()">
				{{pad.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate >
				<h4>Datos de la Cuenta</h4>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-4" valida> 					    
				    	<label>Usuario *</label>
				    	<input name="usuario" type="text" class="form-control" placeholder="Usuario" ng-model="pad.padre.username" required="">
			    	</div>
			    	<div class="col-sm-4" valida>					    
				    	<label>Contraseña *</label>
				    	<input name="contrasena" type="password" class="form-control" placeholder="Contraseña" ng-model="pad.padre.password" required="">
			    	</div>		    				    	    
			    	<div class="col-sm-4" valida>					    
				    	<label>Confirmar Contraseña *</label>
				    	<input name="confirmar" type="password" class="form-control" placeholder="Confirmar Contraseña" ng-model="pad.padre.confirmpassword" required="">
					  </div>
			    </div>
		  	</div>  
		  	<h4>Datos del Padre</h4>
				<div class="well">	    
			    <div class="row"> 
			    	<div class="col-sm-4" valida>
			    		<label>Nombre *</label>
				    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="pad.padre.profile.nombre" required="">
			    	</div>
			    	<div class="col-sm-4" valida>
			    		<label>Apellido Paterno *</label>
				    	<input name="apellidoPaterno" type="text" class="form-control" placeholder="Apellido Paterno" ng-model="pad.padre.profile.apPaterno" required="">
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Apellido Materno</label>
				    	<input type="text" class="form-control" placeholder="Apellido Materno" ng-model="pad.padre.profile.apMaterno">
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Dirección</label>
				    	<input type="text" class="form-control" placeholder="Dirección" ng-model="pad.padre.profile.direccion">
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Teléfono</label>
				    	<input type="text" class="form-control" placeholder="Teléfono" ng-model="pad.padre.profile.telefono">
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Correo</label>
				    	<input type="text" class="form-control" placeholder="Correo" ng-model="pad.padre.profile.correo">
			    	</div>
			    	<div class="col-sm-4">
							<label for="talla">Fotografía</label>
							<button class="btn btn-primary" ng-click="pad.tomarFoto()"><i class="fa fa-camera"></i></button>
							<img width="100px" ng-src="{{pad.padre.profile.fotografia}}" ng-class="{'img-thumbnail': !!pad.padre.profile.fotografia}" />
						</div>
			    </div>
				</div>
				<h4>Datos de los Hijos</h4>
				<div class="well">	    
			    <div class="row"> 
				    <div class="col-sm-4">
				    	<!--<label >Alumnos</label>-->
							<select class="form-control select2"  placeholder="Seleccione" ng-model="pad.padre.hijo_id">
								<option  value="{{alumno._id}}" ng-repeat="alumno in pad.alumnos">
									{{alumno.nombre}} {{alumno.apPaterno}} {{alumno.apMaterno}}
								</option>
							</select>				
						</div>
						<div class="col-sm-4">
								 <input type="submit" ng-click="pad.AgregarAlumno(pad.padre)" value="Agregar" class="btn btn-primary" />
						</div>
			    </div>
			    <br />
			     <div class="row"> 
				    <div class="col-sm-4">
					   		 <table class="table table-bordered">
						 		 			<thead>
						 		 				<tr>
							 		 					<th>Hijos</th>
						 		 				</tr>
						 		 			</thead>
						 		 			<tbody>
						 		 				<tr ng-repeat="hijo in pad.hijos_id">
						 		 						<td>{{pad.getAlumno(hijo)}}</td>			
						 		 				</tr>
						 		 			</tbody>
					   		 </table>
				    </div>
			     </div>   
				</div>
				
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="pad.guardar(pad.padre,form)" value="Guardar" class="btn btn-primary" ng-show="pad.action" valida-form formulario="form"/>
						<input type="submit" ng-click="pad.actualizar(pad.padre,form)" value="Actualizar" class="btn btn-primary" ng-show="!pad.action" valida-form formulario="form"/>				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Foto</div></th>
					<th width="10%"><div class="text-center">Nombre</div></th>
					<th width="15%"><div class="text-center">Dirección </div></th>
					<th width="10%"><div class="text-center">Teléfono</div></th>
					<th width="10%"><div class="text-center">correo</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="7%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="usuario in pad.usuarios">
		    	<td><img width="100px" ng-src="{{usuario.profile.fotografia}}" ng-class="{'img-thumbnail': !!usuario.profile.fotografia}"/> </td>
			    <td>{{usuario.profile.nombre}} {{usuario.profile.apPaterno}} {{usuario.profile.apMaterno}}</td>
			    <td>{{usuario.profile.direccion}} </td>
			    <td>{{usuario.profile.telefono}} </td>
			    <td>{{usuario.profile.correo}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="usuario.profile.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!usuario.profile.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="pad.editar(usuario._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="pad.cambiarEstatus(usuario._id)">
							    				<i class="fa fa-{{usuario.profile.estatus ? 'trash' : 'check' }}"></i> {{usuario.profile.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


