.background {
	background: url("images/fondoCI.png") no-repeat center;
	-webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
}
.navColor {
	color : white !important; // text
  background-color:#C00000 !important; // for bg color
}