<h2>Alumnos</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{alu.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoalumno" ng-click="alu.nuevoAlumno()">
				{{alu.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate >
		  	<h4>Datos del Usuario</h4>
				<div class="well">	    
			    <div class="row"> 
				    <div class="col-sm-3" valida>
			    		<label>Matricula *</label>
				    	<input name="matricula" type="text" class="form-control" placeholder="Matricula" ng-model="alu.alumno.matricula" required="">
			    	</div>
			    	<div class="col-sm-3" valida>
			    		<label>Nombre *</label>
				    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="alu.alumno.nombre" required="">
			    	</div>
			    	<div class="col-sm-3" valida>
			    		<label>Apellido Paterno *</label>
				    	<input name="apellidoPaterno" type="text" class="form-control" placeholder="Apellido Paterno" ng-model="alu.alumno.apPaterno" required="">
			    	</div>
			    	<div class="col-sm-3">
			    		<label>Apellido Materno</label>
				    	<input type="text" class="form-control" placeholder="Apellido Materno" ng-model="alu.alumno.apMaterno">
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-3" valida>
							<label for="tipo">Sexo *</label>
					    <select name="tipo" ng-model="alu.alumno.sexo" class="form-control" required="">
							  <option value="Masculino">Masculino</option>
							  <option value="Femenino">Fememino</option>
							</select>
						</div>
			    	<div class="col-sm-4">
							<label for="talla">Fotografía</label>
							<button class="btn btn-primary" ng-click="alu.tomarFoto()"><i class="fa fa-camera"></i></button>
							<img width="100px" ng-src="{{alu.alumno.fotografia}}" ng-class="{'img-thumbnail': !!alu.alumno.fotografia}" />
						</div>
			    </div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="alu.guardar(alu.alumno,form)" value="Guardar" class="btn btn-primary" ng-show="alu.action" valida-form formulario="form"/>
						<input type="submit" ng-click="alu.actualizar(alu.alumno,form)" value="Actualizar" class="btn btn-primary" ng-show="!alu.action" valida-form formulario="form"/>				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Foto</div></th>
					<th width="30%"><div class="text-center">Nombre</div></th>
					<th width="15%"><div class="text-center">Sexo </div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="7%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="alumno in alu.alumnos">
		    	<td><img width="100px" ng-src="{{alumno.fotografia}}" ng-class="{'img-thumbnail': !!alumno.fotografia}"/> </td>
			    <td>{{alumno.nombre}} {{alumno.apPaterno}} {{alumno.apMaterno}}</td>
			    <td>{{alumno.sexo}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="alumno.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!alumno.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="alu.editar(alumno._id)"><i class="fa fa-pencil"></i>Editar</a></li>
							    <li><a href="#" ng-click="alu.cambiarEstatus(alumno._id)">
							    				<i class="fa fa-{{alumno.estatus ? 'trash' : 'check' }}"></i> {{alumno.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


