<ion-view view-title="My Leagues" class="background">	
	
  <ion-content>
	<div class="row">
		<div class="col">
			<a ui-sref="tabs.leagues-chooseSports" class="button button-positive button-block">Create league</a>
		</div>
		<div class="col">
			<a ui-sref="tabs.leagues-joinLeague" class="button button-positive button-block">Join league</a>
		</div>
	</div>	
		<ion-toggle ng-model="shouldShowDelete">
		  Delete Leagues?
		</ion-toggle>
		<div ng-repeat="(key,_leagues) in leagues.leagues" class="card">
		<div class="item item-divider">
		    {{leagues.tournamentName(_leagues.tournament_id)}}  
		</div>
		<div class="list">
			<ion-list show-delete="shouldShowDelete">
				<ion-item class="item item-thumbnail-left" ng-click="leagues.linker(league._id, leagues.selectedTabIndex)" ng-repeat="league in _leagues">
					<ion-delete-button ng-click="leagues.eliminarLiga(league._id)" class="ion-minus-circled"></ion-delete-button>
					<ion-option-button class="button-assertive" ng-click="leagues.eliminarLiga(league._id)">
			      Eliminar
			    </ion-option-button>
					<strong>{{league.name}}</strong><br/>
					Owner: {{league.ownerName}}<br/>
					Team: {{league.teamWinnerName}}
					<span class="item-note">
						Credits Limit: {{league.maxCredits}}
					</span>
	      		</ion-item>
			</ion-list>			
		</div>					
	</div>	
  </ion-content>
</ion-view>