<ion-view class="background" view-title="{{ligaActual.league.name}}">	
  <ion-content>
  <div class="row">
      <div class="col col-50">
        <a ui-sref="tabs.leagues-actualPicks" class="button button-small button-assertive button-block">My picks</a>
      </div>
      <div class="col col-50">
        <a ng-click="modal.show()" class="button button-small button-positive button-block">Invite friends</a>
      </div>
  </div>
    <div style="margin-top:-10px;" class="card">
      <div class="item item-divider">
          <strong>Credits Limit:{{ligaActual.league.maxCredits}}</strong>
      </div>
      <div class="list">
          <a ng-repeat="(key, p) in ligaActual.participants" class="item item-thumbnail-left" ng-click="ligaActual.linker(ligaActual.selectedTabIndex, p.user_id)">
            <div style="position: absolute; top: 10px; left: 10px; max-width: 80px; max-height: 80px; width: 100%; height: 100%;">
              <img ng-src="{{p.picture}}" class="user-picture" />
              <img ng-src="{{p.teamWinnerFlagUrl}}" class="user-teamwinner" />
            </div>
            <h2 align="right">#{{key+1}}</h2>
            <h2>{{p.username}}</h2>
            <h3>0 Points</h3>
            <p>0 Credits used</p>
          </a>
      </div>          
    </div>  
  </ion-content>
</ion-view>

<!--<script id="invite.html" type="text/ng-template">
<div class="modal">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email ">
      </label>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i>
        Check mail
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-whatsapp"></i>
        WhatsUp
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-facebook"></i>
        Facebook
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-drafts"></i>
        Sms
      </a>
    </div>
    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
</div>
</script>-->
