<ion-view view-title="ZamaEuro">	

<ion-nav-buttons side="right" ng-show="false">
<button ui-sref="tabs.profile-myPicks" class="button  button-clear " >My Picks </button>
</ion-nav-buttons>

<ion-content>
  	
		 	  
	
		<div class="card">
        <div class="item item-divider">
        Friends Record
      </div>
      


    
    
     <a  ui-sref="tabs.profile-myPicks" class="item item-thumbnail-left" href="#">
      <img src="\images\jaime.jpg">
      <h2>Jaime Ojeda </h2>
      <h3>153 puntos</h3>
      <p>See his record</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="\images\jotosme.jpg">
      <h2>Cosme Miguel Lopez </h2>
      <h3>150 puntos</h3>
      <p>See his record</p>
    </a>

</div>
  </ion-content>
	

</ion-view>