<h2>Grupos</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{gpo.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevogrupo" ng-click="gpo.nuevoGrupo()">
				{{gpo.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate >
				<h4>Datos Generales del Grupo</h4>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-4" valida> 					    
				    	<label>Grupo *</label>
				    	<input name="grupo" type="text" class="form-control" placeholder="Grupo" ng-model="gpo.grupo.grupo" required="">
			    	</div>
			    	<div class="col-sm-8" valida>					    
				    	<label>Maestro *</label>
				    	<select name="maestro" class="form-control select2"  placeholder="Seleccione" ng-model="gpo.grupo.maestro_id" required="">
									<option  value="{{maestro._id}}" ng-repeat="maestro in gpo.usuarios">
										{{maestro.profile.nombre}} {{maestro.profile.apPaterno}} {{maestro.profile.apMaterno}}
									</option>
							</select>	
			    	</div>		    				    	    
			    </div>
					<h4>Alumnos</h4>
					<div class="well">	    
				    <div class="row"> 
					    <div class="col-sm-4">
								<select class="form-control select2"  placeholder="Seleccione" ng-model="gpo.alumno">
									<option  value="{{alumno}}" ng-repeat="alumno in gpo.alumnosTotales">
										{{alumno.nombre}} {{alumno.apPaterno}} {{alumno.apMaterno}}
									</option>
								</select>				
							</div>
							<div class="col-sm-4">
									 <input type="submit" ng-click="gpo.AgregarAlumno(gpo.alumno)" value="Agregar" class="btn btn-primary" />
							</div>
				    </div>
				    <br />
				     <div class="row"> 
					    <div class="col-sm-4">
						   		 <table class="table table-bordered">
							 		 			<thead>
							 		 				<tr>
								 		 					<th>Alumno</th>
							 		 				</tr>
							 		 			</thead>
							 		 			<tbody>
							 		 				<tr ng-repeat="a in gpo.alumnos">
							 		 						<td>{{a.nombre}} {{a.apPaterno}} {{a.apMaterno}}</td>			
							 		 				</tr>
							 		 			</tbody>
						   		 </table>
					    </div>
				     </div>   
					</div>			
		  	</div>  
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="gpo.guardar(gpo.grupo,form)" value="Guardar" class="btn btn-primary" ng-show="gpo.action" valida-form formulario="form"/>
						<input type="submit" ng-click="gpo.actualizar(gpo.grupo,form)" value="Actualizar" class="btn btn-primary" ng-show="!gpo.action" valida-form formulario="form"/>				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">grupo</div></th>
					<th width="35%"><div class="text-center">Maestro</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="7%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="grupo in gpo.grupos">
		    	<td>{{grupo.grupo}} </td>
			    <td>{{gpo.getMaestro(grupo.maestro_id)}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="grupo.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!grupo.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="gpo.editar(grupo._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="gpo.cambiarEstatus(grupo._id)">
							    				<i class="fa fa-{{grupo.estatus ? 'trash' : 'check' }}"></i> {{grupo.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


